$color-primary: #FDB931;
$color-secondary: #FEDB37;


.text_block
{
    margin: 20px auto;
    font-size: 1.5rem;
    border-radius: 20px;
    box-shadow: #fdb931 0px 13px 21px 0px;
    padding: 15px 25px;
    transition: all 0.2s linear 0.2s;
    grid-column: 1 / 4;
}

.text_block:hover
{
    transition: all 0.2s linear 0.2s;
    box-shadow: #fdb931 0px 5px 21px 0px;
}

.spacer
{
    line-height: 5px;
    background-color: #FDB931;
    width: auto;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #fff, $color-primary, $color-secondary, #fff);
    border-radius: 20px;
}

.text_block > h2
{
    color: #fdb931;
    font-size: 3rem;
}

.process_block
{
    width: -webkit-fill-available;
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
    background-color: #FDB931;
    grid-column: 1 / 4;
}

.process_block > div 
{
    padding: 33px 0 0 0;
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
}

/* Arrow */
.process_block > span
{
    font-size: 70px;
    line-height: 16px;
    color:#fff;    
    text-shadow: -15px 7px 3px #fed480;    
}