$color-primary: #FDB931;
$color-secondary: #FEDB37;
$color-neutral-lt: #fff;
$color-neutral-med: #ddd;
$color-neutral-dk: #444;


.main_content
{
    display: grid;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 6px 18px 1px #ffff;
    padding: 10px 0px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
    justify-items: center;
    grid-template: auto 1fr auto / auto 1fr auto;
}

.intro
{
    font-size: 1.5rem;
    width: 40vw;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) 
{
    .mainContent
    {
        width: 98vw;
    }

    .intro 
    {
        width: 95vw;
    }
}